* {
  box-sizing: border-box;
}
  
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

h2 {
  color: aliceblue;
}

h3 {
  color: black;
}

.contentContainer {
  background-color: transparent;
  margin: 5em;
  
}

.messageContent {
  color: whitesmoke;
  background-color: darkslategrey;
  margin-top: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: aliceblue;  
}